# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# TypeScript cache
*.tsbuildinfo

# macOS system files
.DS_Store

# Examples
examples/**/.env
examples/**/node_modules/
/.idea/
